* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  height: 100%;
  overflow: hidden;
  padding-top: 2%;
  background-color: black;
  text-align: center;
  margin: 0;
  color: white;
  font-size: 1vmax;
  font-family: 'Audiowide', cursive;
}

a, .btn {
  color: gray;
  background-color: black;
  display: inline-block;
}

a:hover, .btn:hover {
  color: #fff;
  border-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.title-box {
  padding: 16px;
  top: 0;
}

.title {
  padding: 0 16px;
}

.title span {
  font-size: 10rem;
  line-height: 10.5rem;
  letter-spacing: 1.5rem;
  -webkit-text-stroke: 0.2rem white;
}

.title span:nth-child(1) {
  color: red;
}

.title span:nth-child(2) {
  color: blue;
}

.title span:nth-child(3) {
  color: #ff9100;
}

.title span:nth-child(4) {
  color: green;
}

.title2 {
  padding: 16px 0;
}

.title2 span {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.5rem;
  color: white !important;
  font-style: italic;
  -webkit-text-stroke: 0;
}

.btn-box {
  padding: 2rem;
  z-index: 555;
}

.btn {
  margin: 16px;
  padding: 4px 16px;
  font-size: 2rem;
  line-height: 3rem;
  border: solid 1.5px gray;
  border-radius: 8px;
}

.btn-sm, .search-input, .tag-input {
  font-size: 1.5rem;
  line-height: 2rem;
}

#uploadFile {
  text-align: center;
}

input {
  display: inline-block;
  padding-top: 12px;
  font-family: 'Audiowide', cursive;
}

.search-input, .tag-input {
  margin: 12px 0 0;
  padding: 1px 2px;
  text-align: center;
}

@-webkit-keyframes rushIn {
  from {
    top: 1000px;
  }
  to {
    top: 0;
  }
}

@keyframes rushIn {
  from {
    top: 1000px;
  }
  to {
    top: 0;
  }
}

.title {
  -webkit-animation: rushIn 0.5s 0s backwards;
          animation: rushIn 0.5s 0s backwards;
}

.title2 {
  -webkit-animation: rushIn 0.5s 0.2s backwards;
          animation: rushIn 0.5s 0.2s backwards;
}

form:nth-child(1) {
  -webkit-animation: rushIn 0.5s 0.4s backwards;
          animation: rushIn 0.5s 0.4s backwards;
}

form:nth-child(2) {
  -webkit-animation: rushIn 0.5s 0.6s backwards;
          animation: rushIn 0.5s 0.6s backwards;
}

@-webkit-keyframes title-float {
  0% {
  }
  100% {
    text-shadow: 1px 1px 2px #5b5b5b, 2px 2px 2px rgba(91, 91, 91, 0.5), 3px 3px 2px rgba(91, 91, 91, 0.333333), 4px 4px 2px rgba(91, 91, 91, 0.25), 5px 5px 2px rgba(91, 91, 91, 0.2), 6px 6px 2px rgba(91, 91, 91, 0.166667), 7px 7px 2px rgba(91, 91, 91, 0.142857), 8px 8px 2px rgba(91, 91, 91, 0.125), 9px 9px 2px rgba(91, 91, 91, 0.111111), 10px 10px 2px rgba(91, 91, 91, 0.1), 11px 11px 2px rgba(91, 91, 91, 0.0909091), 12px 12px 2px rgba(91, 91, 91, 0.0833333), 13px 13px 2px rgba(91, 91, 91, 0.0769231), 14px 14px 2px rgba(91, 91, 91, 0.0714286), 15px 15px 2px rgba(91, 91, 91, 0.0666667), 16px 16px 2px rgba(91, 91, 91, 0.0625), 17px 17px 2px rgba(91, 91, 91, 0.0588235), 18px 18px 2px rgba(91, 91, 91, 0.0555556), 19px 19px 2px rgba(91, 91, 91, 0.0526316), 20px 20px 2px rgba(91, 91, 91, 0.05);
  }
}

@keyframes title-float {
  0% {
  }
  100% {
    text-shadow: 1px 1px 2px #5b5b5b, 2px 2px 2px rgba(91, 91, 91, 0.5), 3px 3px 2px rgba(91, 91, 91, 0.333333), 4px 4px 2px rgba(91, 91, 91, 0.25), 5px 5px 2px rgba(91, 91, 91, 0.2), 6px 6px 2px rgba(91, 91, 91, 0.166667), 7px 7px 2px rgba(91, 91, 91, 0.142857), 8px 8px 2px rgba(91, 91, 91, 0.125), 9px 9px 2px rgba(91, 91, 91, 0.111111), 10px 10px 2px rgba(91, 91, 91, 0.1), 11px 11px 2px rgba(91, 91, 91, 0.0909091), 12px 12px 2px rgba(91, 91, 91, 0.0833333), 13px 13px 2px rgba(91, 91, 91, 0.0769231), 14px 14px 2px rgba(91, 91, 91, 0.0714286), 15px 15px 2px rgba(91, 91, 91, 0.0666667), 16px 16px 2px rgba(91, 91, 91, 0.0625), 17px 17px 2px rgba(91, 91, 91, 0.0588235), 18px 18px 2px rgba(91, 91, 91, 0.0555556), 19px 19px 2px rgba(91, 91, 91, 0.0526316), 20px 20px 2px rgba(91, 91, 91, 0.05);
  }
}

@-webkit-keyframes title2-float {
  0% {
  }
  100% {
    text-shadow: 1px 1px 2px #5b5b5b, 2px 2px 2px rgba(91, 91, 91, 0.5), 3px 3px 2px rgba(91, 91, 91, 0.333333), 4px 4px 2px rgba(91, 91, 91, 0.25), 5px 5px 2px rgba(91, 91, 91, 0.2);
  }
}

@keyframes title2-float {
  0% {
  }
  100% {
    text-shadow: 1px 1px 2px #5b5b5b, 2px 2px 2px rgba(91, 91, 91, 0.5), 3px 3px 2px rgba(91, 91, 91, 0.333333), 4px 4px 2px rgba(91, 91, 91, 0.25), 5px 5px 2px rgba(91, 91, 91, 0.2);
  }
}

@-webkit-keyframes btn-float {
  0% {
  }
  100% {
    text-shadow: 1px 1px 2px #393939, 2px 2px 2px rgba(57, 57, 57, 0.5), 3px 3px 2px rgba(57, 57, 57, 0.333333), 4px 4px 2px rgba(57, 57, 57, 0.25), 5px 5px 2px rgba(57, 57, 57, 0.2), 6px 6px 2px rgba(57, 57, 57, 0.166667), 7px 7px 2px rgba(57, 57, 57, 0.142857), 8px 8px 2px rgba(57, 57, 57, 0.125), 9px 9px 2px rgba(57, 57, 57, 0.111111), 10px 10px 2px rgba(57, 57, 57, 0.1);
    -webkit-box-shadow: 1px 1px 2px #393939, 2px 2px 2px rgba(57, 57, 57, 0.5), 3px 3px 2px rgba(57, 57, 57, 0.333333), 4px 4px 2px rgba(57, 57, 57, 0.25), 5px 5px 2px rgba(57, 57, 57, 0.2), 6px 6px 2px rgba(57, 57, 57, 0.166667), 7px 7px 2px rgba(57, 57, 57, 0.142857), 8px 8px 2px rgba(57, 57, 57, 0.125), 9px 9px 2px rgba(57, 57, 57, 0.111111), 10px 10px 2px rgba(57, 57, 57, 0.1);
            box-shadow: 1px 1px 2px #393939, 2px 2px 2px rgba(57, 57, 57, 0.5), 3px 3px 2px rgba(57, 57, 57, 0.333333), 4px 4px 2px rgba(57, 57, 57, 0.25), 5px 5px 2px rgba(57, 57, 57, 0.2), 6px 6px 2px rgba(57, 57, 57, 0.166667), 7px 7px 2px rgba(57, 57, 57, 0.142857), 8px 8px 2px rgba(57, 57, 57, 0.125), 9px 9px 2px rgba(57, 57, 57, 0.111111), 10px 10px 2px rgba(57, 57, 57, 0.1);
  }
}

@keyframes btn-float {
  0% {
  }
  100% {
    text-shadow: 1px 1px 2px #393939, 2px 2px 2px rgba(57, 57, 57, 0.5), 3px 3px 2px rgba(57, 57, 57, 0.333333), 4px 4px 2px rgba(57, 57, 57, 0.25), 5px 5px 2px rgba(57, 57, 57, 0.2), 6px 6px 2px rgba(57, 57, 57, 0.166667), 7px 7px 2px rgba(57, 57, 57, 0.142857), 8px 8px 2px rgba(57, 57, 57, 0.125), 9px 9px 2px rgba(57, 57, 57, 0.111111), 10px 10px 2px rgba(57, 57, 57, 0.1);
    -webkit-box-shadow: 1px 1px 2px #393939, 2px 2px 2px rgba(57, 57, 57, 0.5), 3px 3px 2px rgba(57, 57, 57, 0.333333), 4px 4px 2px rgba(57, 57, 57, 0.25), 5px 5px 2px rgba(57, 57, 57, 0.2), 6px 6px 2px rgba(57, 57, 57, 0.166667), 7px 7px 2px rgba(57, 57, 57, 0.142857), 8px 8px 2px rgba(57, 57, 57, 0.125), 9px 9px 2px rgba(57, 57, 57, 0.111111), 10px 10px 2px rgba(57, 57, 57, 0.1);
            box-shadow: 1px 1px 2px #393939, 2px 2px 2px rgba(57, 57, 57, 0.5), 3px 3px 2px rgba(57, 57, 57, 0.333333), 4px 4px 2px rgba(57, 57, 57, 0.25), 5px 5px 2px rgba(57, 57, 57, 0.2), 6px 6px 2px rgba(57, 57, 57, 0.166667), 7px 7px 2px rgba(57, 57, 57, 0.142857), 8px 8px 2px rgba(57, 57, 57, 0.125), 9px 9px 2px rgba(57, 57, 57, 0.111111), 10px 10px 2px rgba(57, 57, 57, 0.1);
  }
}

.title span {
  -webkit-animation: title-float 3s .5s forwards;
          animation: title-float 3s .5s forwards;
}

.title2 span {
  -webkit-animation: title2-float 3s .5s forwards;
          animation: title2-float 3s .5s forwards;
}

.btn {
  -webkit-animation: btn-float 3s .5s forwards;
          animation: btn-float 3s .5s forwards;
}

.output {
  width: 100%;
  z-index: 999;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.output .img-box {
  background-color: rgba(66, 66, 66, 0.6);
  display: inline-block;
  padding: 2rem;
  border-radius: 4px;
}

.output .img-box img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 4px;
}

.output .img-box .btn {
  -webkit-animation: none;
          animation: none;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.eye-box {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.eyebrow {
  background: #fcfcfc;
  background: radial-gradient(circle, white 60%, black 80%);
  padding: 4px;
  border-radius: 0 80%;
}

.eye-wrap {
  margin: -4px -4px -12px -12px;
  background-color: black;
  padding: 24px;
  border-radius: 0 85%;
}

.eye {
  width: 80px;
  height: 80px;
  border-top: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 2px white;
  border-left: solid 2px white;
  border-radius: 0 90%;
  overflow: hidden;
}

.eyeball {
  position: absolute;
  left: 25%;
  bottom: 25%;
  width: 66%;
  height: 66%;
  background-color: black;
  border: solid 5px white;
  border-radius: 50%;
  overflow: hidden;
}

.pupil {
  position: absolute;
  top: 20%;
  right: -10%;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 50%;
}

.shut {
  z-index: 999;
  position: absolute;
  top: -90%;
  right: -90%;
  background-color: #D0FFEC;
  border-radius: 0 0 0 90%;
  width: 150%;
  height: 150%;
  -webkit-animation: blink 8s 3s infinite;
          animation: blink 8s 3s infinite;
}

@-webkit-keyframes blink {
  0% {
  }
  5% {
    top: -30%;
    right: -30%;
  }
  10% {
    top: -90%;
    right: -90%;
  }
  100% {
  }
}

@keyframes blink {
  0% {
  }
  5% {
    top: -30%;
    right: -30%;
  }
  10% {
    top: -90%;
    right: -90%;
  }
  100% {
  }
}
/*# sourceMappingURL=style.css.map */