$bg-color: black
$pry-color: white
$sec-color: gray

*
	box-sizing: border-box
	position: relative
	list-style-type: none
	text-decoration: none

html, body
	height: 100%
	overflow: hidden
	padding-top: 2%
	background-color: black
	text-align: center
	margin: 0

	color: $pry-color
	font-size: 1vmax
	font-family: 'Audiowide', cursive

%link
	color: $sec-color
	background-color: black
	display: inline-block
	&:hover
		color: #fff
		border-color: #fff
		text-decoration: none
		cursor: pointer

a
	@extend %link

.btn
	@extend %link

.title-box
	padding: 16px
	top: 0

.title
	padding: 0 16px
	span
		font-size: 10rem
		line-height: 10.5rem
		letter-spacing: 1.5rem
		-webkit-text-stroke: 0.2rem $pry-color
		&:nth-child(1)
			color: red
		&:nth-child(2)
			color: blue
		&:nth-child(3)
			color: rgb(255, 145, 0)
		&:nth-child(4)
			color: green

.title2
	padding: 16px 0
	span
		font-size: 2rem
		line-height: 2.5rem
		letter-spacing: 0.5rem
		color: $pry-color !important
		font-style: italic
		-webkit-text-stroke: 0

.btn-box
	padding: 2rem
	z-index: 555

.btn
	margin: 16px
	padding: 4px 16px
	font-size: 2rem
	line-height: 3rem
	border: solid 1.5px $sec-color
	border-radius: 8px

.btn-sm, .search-input, .tag-input
	font-size: 1.5rem
	line-height: 2rem

#uploadFile
	text-align: center

input
	display: inline-block
	padding-top: 12px
	font-family: 'Audiowide', cursive

.search-input, .tag-input
	margin: 12px 0 0
	padding: 1px 2px
	text-align: center

// LongShadow
@mixin longShadow($type ,$lenght: 20, $rgb: #fff)
	//先準備一個空的變數
	$shadow: ()
	//利用for 迴圈決定長度
	@for $i from 1 through $lenght
		//將陰影的效果利用迴圈的方式不斷的增加到$shadow
		$shadow: append($shadow, append(#{$i}px #{$i}px 2px ,rgba(darken($rgb,20%),1/$i)),comma)
	//將$shadow的變數增加到box-shadow裡
	#{$type}-shadow: $shadow


// animate
@keyframes rushIn
	from
		top: 1000px
	to
		top: 0

@mixin rushIn($latency)
	animation: rushIn 0.5s $latency backwards

.title
	+rushIn(0s)

.title2
	+rushIn(0.2s)

form:nth-child(1)
	+rushIn(0.4s)

form:nth-child(2)
	+rushIn(0.6s)

@mixin animate($name:float)
	@keyframes #{$name}
		0%
			
		100%
			@content

@include animate(title-float)
	@include longShadow(text, 20, #8E8E8E)

@include animate(title2-float)
	@include longShadow(text, 5, #8E8E8E)

@include animate(btn-float)
	@include longShadow(text, 10, #6C6C6C)
	@include longShadow(box, 10 , #6C6C6C)

.title span
	animation: title-float 3s .5s forwards
.title2 span
	animation: title2-float 3s .5s forwards

.btn
	animation: btn-float 3s .5s forwards

// Output
.output
	width: 100%
	z-index: 999
	position: absolute
	top: 50%
	transform: translateY(-50%)

	.img-box
		background-color: rgba(66, 66, 66, .6)
		display: inline-block
		padding: 2rem
		border-radius: 4px
		
		img
			width: 100%
			max-width: 600px
			height: auto
			border-radius: 4px
		
		.btn
			animation: none
			font-size: 1rem
			line-height: 1.5rem
			margin-bottom: 0


// EYE
.eye-box
	position: absolute
	left: 16px
	bottom: 16px

.eyebrow
	background: rgb(252,252,252)
	background: radial-gradient(circle, white 60%, 	black 80%)
	padding: 4px
	border-radius: 0 80%
	
.eye-wrap
	margin: -4px -4px -12px -12px
	background-color: black
	padding: 24px
	border-radius: 0 85%
	
.eye
	width: 80px
	height: 80px
	border-top: solid 5px white
	border-right: solid 5px white
	border-bottom: solid 2px white
	border-left: solid 2px white
	border-radius: 0 90%
	overflow: hidden

.eyeball
	position: absolute
	left: 25%
	bottom: 25%

	width: 66%
	height: 66%
	background-color: black
	border: solid 5px white
	border-radius: 50%

	overflow: hidden

.pupil
	position: absolute
	top: 20%
	right: -10%
	
	width: 50%
	height: 50%
	background-color: white
	border-radius: 50%

.shut
	z-index: 999
	position: absolute
	top: -90%
	right: -90%
	
	background-color: #D0FFEC
	border-radius: 0 0 0 90%
	width: 150%
	height: 150%

	animation: blink 8s 3s infinite

@keyframes blink
	0%
		
	5%
		top: -30%
		right: -30%
	10%
		top: -90%
		right: -90%
	100%