<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- jquery.easing.1.3.js -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- font famliy -->
	<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
	<link href="//db.onlinewebfonts.com/c/1caab99605ba05c4ee27b6fd3a906b57?family=Nesobrite" rel="stylesheet"
		type="text/css" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
	<title>meme</title>
</head>

<body>
	<div class="title-box">
		<div class="title">
			<span>M</span><span>E</span><span>M</span><span>E</span>
		</div>
			<span>M</span><span>1</span><span>0</span><span>9</span>
		<div class="title2">
		</div>
	</div>
	<div class="message">
		<% if (typeof msg !== 'undefined') { %>
		<h2><%- msg %></h2>
		<% } %>
	</div>
	<div class="btn-box">
		<!-- search section -->
		<form method="get" action="/meme">
			<div id="search" class="btn">
				<div id="searchText">Search</div>
				<div id="searchInput" style="display: none;">
					<input class="search-input" name="tag" type="text" size="16" placeholder="bla bla bla ...">
					<input class="btn btn-sm" type="submit" value="Find this !">
				</div>
			</div>
		</form>
		<!-- upload section -->
		<form method="post" action="/upload" enctype="multipart/form-data" accept-charset="utf-8">
			<div id="upload" class="btn">
				<div id="uploadText">Upload</div>
				<div id="uploadInput" style="display: none;">
					<input id="img" name="img" type="file" accept="image/*" required>
					<input class="tag-input" id="tag" name="tag" type="text" size="16" placeholder="tag" required>
					<input class="btn btn-sm" type="submit" value="Fire in the hole !">
				</div>
			</div>
		</form>
	</div>
	<div id="output" class="output">
		<% if (typeof pics !== 'undefined') { %>
		<div class="img-box">
			<img id="img" alt="" src="<%- pics %>"/>
			<br>
			<button id="close" class="btn">close</button>
		</div>
		<% } %>
	</div>
	<div class="eye-box">
		<div class="eyebrow">
			<div class="eye-wrap">
				<div class="eye">
					<div class="shut"></div>
					<div class="eyeball">
						<div class="pupil"></div>
					</div>
				</div>
			</div>
		</div>
		</div>

	<script>
		// open search section
		$('#search').click(function () {
			$('#search').animate({
				width: '30rem'
			}, 300, 'jswing', function () {
				$('#searchText').slideUp(500, 'easeOutCubic');
				$('#searchInput').slideDown(500, 'easeOutCubic');
			});
		});
		// open upload section
		$('#upload').click(function () {
			$('#upload').animate({
				width: '30rem'
			}, 300, 'jswing', function () {
				$('#uploadText').slideUp(500, 'easeOutCubic');
				$('#uploadInput').slideDown(500, 'easeOutCubic');
			});
		});
		// close the output img
		$('#close').click(function () {
			$('#output').slideUp(150, 'easeOutExpo');
			$('img').slideUp(150, 'easeOutExpo');
		});
	</script>
</body>

</html>
